PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/sales-management

JWT_SECRET=replace_with_a_long_random_string
JWT_LIFETIME=7d

COOKIE_EXPIRE=7
COOKIE_DOMAIN=
COOKIE_SAMESITE=lax

SUPER_UESERNAME=superadmin
SUPER_EMAIL=superadmin@example.com
SUPER_PASSWORD=replace_me

CLIENT_DOMAIN=
LOCAL_DOMAIN=http://localhost:5173

JWT_SECRETONE=replace_with_a_long_random_string
JWT_LIFETIMEONE=7d
COOKIE_EXPIREONE=7
COOKIE_DOMAINONE=
COOKIE_SAMESITEONE=lax
LOCAL_DOMAINONE=http://localhost:5174

BAKONG_ACCOUNT_NAME=
BAKONG_ACCOUNT_USERNAME=
BAKONG_PHONE_NUMBER=
BAKONG_ACCESS_TOKEN=
BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1
BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1
